---
- name: Check if cargo is installed
  ansible.builtin.shell: command -v cargo
  register: cargo_exists
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install Rust/cargo
  when: cargo_exists.rc != 0
  block:
    - name: Ensure curl is installed
      become: true
      ansible.builtin.apt:
        name: curl
        state: present

    - name: Install Rust/cargo
      ansible.builtin.shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      args:
        creates: "{{ ansible_facts.env.HOME }}/.cargo/bin/cargo"
