---
- name: Install GNU Stow
  become: true
  community.general.pacman:
    name: stow
    state: present

- name: Build system configs directories list
  ansible.builtin.find:
    paths: [system-configs/]
    recurse: no
    file_type: directory
  register: files

- name: Deploy system configuration files
  become: true
  with_items: '{{ files.files }}'
  ansible.builtin.shell: |
    STOW_PATH={{ item.path | replace("system-configs/", "") }}
    OVERRIDE_TARGET=$(cat ${STOW_PATH}/.override 2>/dev/null)
    TARGET=${OVERRIDE_TARGET:-/etc}
    stow -v -t ${TARGET} ${STOW_PATH}
  args:
    chdir: ./system-configs
    executable: /bin/bash
  loop_control:
    label: |-
      {% if output.stderr|length > 1 %}
      {{ item.path }}
      {{ output.stderr }}
      {%- else %}
      {{ item.path }}
      {%- endif %}
  register: output
  changed_when: '"LINK" in output.stderr'
