---
- name: Install UFW on Arch
  become: true
  community.general.pacman:
    name: ufw
    state: present

- name: Install ufw-docker
  become: true
  ansible.builtin.get_url:
    url: https://github.com/chaifeng/ufw-docker/raw/master/ufw-docker
    dest: /usr/local/bin/ufw-docker
    mode: '0755'
