---
- name: Install UFW on Ubuntu
  become: true
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true

- name: Install ufw-docker
  become: true
  ansible.builtin.get_url:
    url: https://github.com/chaifeng/ufw-docker/raw/master/ufw-docker
    dest: /usr/local/bin/ufw-docker
    mode: '0755'
