---
# NeoVim from GitHub releases (Ubuntu only - Arch uses pacman)
- name: Get latest stable NeoVim release
  community.general.github_release:
    user: neovim
    repo: neovim
    action: latest_release
  register: neovim_release

- name: Check NeoVim version
  ansible.builtin.shell: nvim --version | head -n 1 | cut -d ' ' -f 2
  register: nvim_exists
  ignore_errors: true
  changed_when: false
  failed_when: false
  check_mode: false

- name: Install NeoVim
  when: (nvim_exists.rc != 0 or nvim_exists.stdout != neovim_release.tag) and not ansible_check_mode
  block:
    - name: Uninstall previous installation of nvim
      become: true
      ansible.builtin.file:
        path: '{{ item }}'
        state: absent
      with_items:
        - /opt/nvim-linux64
        - /usr/local/bin/nvim

    - name: Download NeoVim tarball
      ansible.builtin.get_url:
        url: "https://github.com/neovim/neovim/releases/download/{{ neovim_release.tag }}/nvim-linux-x86_64.tar.gz"
        dest: /tmp/nvim-linux-x86_64.tar.gz
        mode: 0644

    - name: Extract NeoVim tarball
      become: true
      ansible.builtin.unarchive:
        src: /tmp/nvim-linux-x86_64.tar.gz
        dest: /opt
        remote_src: true

    - name: Create symlink for nvim
      become: true
      ansible.builtin.file:
        src: /opt/nvim-linux-x86_64/bin/nvim
        dest: /usr/local/bin/nvim
        state: link

    - name: Clean up tarball
      ansible.builtin.file:
        path: /tmp/nvim-linux-x86_64.tar.gz
        state: absent

- name: Generate :help pages
  ansible.builtin.shell: nvim --headless -c 'helptags ALL' -c quit
  changed_when: false
