[user]
  name = Samuel Le Meur-Diebolt
  email = samuel@diebolt.io
[credential]
  helper = store
[core]
  editor = nvim
  pager = delta
[diff]
  submodule = log
[diff "jupyternotebook"]
  command = git-nbdiffdriver diff
[merge "jupyternotebook"]
  driver = git-nbmergedriver merge %O %A %B %L %P
  name = jupyter notebook merge driver
[difftool "nbdime"]
  cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
  prompt = false
[mergetool "nbdime"]
  cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
  prompt = false
[rerere]
  enabled = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictStyle = zdiff3
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
