---
- name: Check if Ghostty is installed
  ansible.builtin.shell: command -v ghostty
  register: ghostty_exists
  ignore_errors: true
  changed_when: false
  failed_when: false
  check_mode: false

- name: Install Ghostty
  when: ghostty_exists.rc != 0 and not ansible_check_mode
  block:
    - name: Install Ghostty
      ansible.builtin.shell: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/mkasberg/ghostty-ubuntu/HEAD/install.sh)"

- name: Set Ghostty as default terminal
  become: true
  community.general.alternatives:
    name: x-terminal-emulator
    path: /usr/bin/ghostty
    state: selected
  when: not ansible_check_mode
