---
- name: Enable greetd
  become: true
  ansible.builtin.systemd:
    name: greetd.service
    enabled: true

- name: systemd daemon-reload
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
  failed_when: false
  when: ansible_facts["service_mgr"] == "systemd"
