---
- name: Check if bat is installed
  ansible.builtin.shell: command -v bat
  register: bat_exists
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install bat in Ubuntu
  when: ansible_facts["distribution"] == "Ubuntu" and bat_exists.rc != 0
  block:
    - name: Get latest bat release URL
      ansible.builtin.shell: |
        curl -s https://api.github.com/repos/sharkdp/bat/releases/latest | \
        grep "browser_download_url.*_amd64.deb" | \
        cut -d '"' -f 4
      register: bat_url
      changed_when: false

    - name: Install bat
      become: true
      ansible.builtin.apt:
        deb: "{{ bat_url.stdout }}"

- name: Install bat in Arch Linux
  become: true
  community.general.pacman:
    name: bat
    state: present
  when: ansible_facts["distribution"] == "Archlinux"
