---
- name: Check btop version
  ansible.builtin.shell: btop --version | head -n 1 | cut -d ' ' -f 3
  register: btop_exists
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install btop in Ubuntu
  when: (btop_exists.rc != 0 or btop_exists.stdout != btop_version) and ansible_facts["distribution"] == "Ubuntu"
  block:
    - name: Download and extract binary
      ansible.builtin.unarchive:
        src: https://github.com/aristocratos/btop/releases/download/v{{ btop_version }}/btop-x86_64-linux-musl.tbz
        dest: /tmp
        remote_src: true

    - name: Run 'install' target as root
      community.general.make:
        chdir: /tmp/btop
        target: install
      become: true

- name: Install btop in Arch Linux
  become: true
  community.general.pacman:
    name: btop
    state: present
  when: ansible_facts["distribution"] == "Archlinux" and (btop_exists.rc != 0 or btop_exists.stdout != btop_version)
