---
- name: Check if btop is installed
  ansible.builtin.shell: command -v btop
  register: btop_exists
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install btop in Ubuntu
  when: ansible_facts["distribution"] == "Ubuntu" and btop_exists.rc != 0
  block:
    - name: Get latest btop release URL
      ansible.builtin.shell: |
        curl -s https://api.github.com/repos/aristocratos/btop/releases/latest | \
        grep "browser_download_url.*x86_64-linux-musl.tbz" | \
        cut -d '"' -f 4
      register: btop_url
      changed_when: false

    - name: Download and extract binary
      ansible.builtin.unarchive:
        src: "{{ btop_url.stdout }}"
        dest: /tmp
        remote_src: true

    - name: Run 'install' target as root
      community.general.make:
        chdir: /tmp/btop
        target: install
      become: true

- name: Install btop in Arch Linux
  become: true
  community.general.pacman:
    name: btop
    state: present
  when: ansible_facts["distribution"] == "Archlinux" and btop_exists.rc != 0
