---
- name: Check if delta is installed
  ansible.builtin.shell: command -v delta
  register: delta_exists
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install delta in Ubuntu
  when: ansible_facts["distribution"] == "Ubuntu" and delta_exists.rc != 0
  block:
    - name: Get latest delta release URL
      ansible.builtin.shell: |
        curl -s https://api.github.com/repos/dandavison/delta/releases/latest | \
        grep "browser_download_url.*_amd64.deb" | \
        cut -d '"' -f 4
      register: delta_url
      changed_when: false

    - name: Install delta
      become: true
      ansible.builtin.apt:
        deb: "{{ delta_url.stdout }}"

- name: Install delta in Arch Linux
  become: true
  community.general.pacman:
    name: git-delta
    state: present
  when: ansible_facts["distribution"] == "Archlinux" and delta_exists.rc != 0
