---
- name: Install fzf in Ubuntu
  ansible.builtin.command:
    chdir: "{{ playbook_dir }}/dotfiles/fzf/.fzf"
    cmd: ./install --bin
    creates: "{{ playbook_dir }}/dotfiles/fzf/.fzf/bin/fzf"
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install fzf in Arch Linux
  become: true
  community.general.pacman:
    name: fzf
    state: present
  when: ansible_facts["distribution"] == "Archlinux"
