---
- name: Clone fzf repository in Ubuntu
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: "{{ ansible_facts.env.HOME }}/.fzf"
    depth: 1
    update: true
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install fzf in Ubuntu
  ansible.builtin.command:
    cmd: "{{ ansible_facts.env.HOME }}/.fzf/install --bin --no-update-rc --key-bindings --completion"
    creates: "{{ ansible_facts.env.HOME }}/.fzf/bin/fzf"
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install fzf in Arch Linux
  become: true
  community.general.pacman:
    name: fzf
    state: present
  when: ansible_facts["distribution"] == "Archlinux"
