---
- name: Install fzf in Ubuntu
  ansible.builtin.command:
    chdir: "{{ ansible_facts.env.HOME }}/.fzf"
    cmd: ./install --bin
    creates: "{{ ansible_facts.env.HOME }}/.fzf/bin/fzf"
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install fzf in Arch Linux
  become: true
  community.general.pacman:
    name: fzf
    state: present
  when: ansible_facts["distribution"] == "Archlinux"
