---
- name: Create directory ~/.local/bin/
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory
    mode: 0755

- name: Install CLI tools in Ubuntu
  become: true
  ansible.builtin.apt:
    name:
      - build-essential
      - curl
      - jq
      - unzip
      - xclip
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Install CLI tools in Arch Linux
  become: true
  community.general.pacman:
    name:
      - base-devel
      - curl
      - jq
      - unzip
      - xclip
    state: present
  when: ansible_distribution == "Archlinux"

- name: Install bat
  ansible.builtin.import_tasks: bat.yml

- name: Install btop
  ansible.builtin.import_tasks: btop.yml

- name: Install delta
  ansible.builtin.import_tasks: delta.yml

- name: Install fd
  ansible.builtin.import_tasks: fd.yml

- name: Install fzf
  ansible.builtin.import_tasks: fzf.yml

- name: Install just
  ansible.builtin.import_tasks: just.yml

- name: Install lazygit
  ansible.builtin.import_tasks: lazygit.yml

- name: Install lsd
  ansible.builtin.import_tasks: lsd.yml

- name: Install prettyping
  ansible.builtin.import_tasks: prettyping.yml

- name: Install ripgrep
  ansible.builtin.import_tasks: ripgrep.yml

- name: Install Starship
  ansible.builtin.import_tasks: starship.yml

- name: Instal Zellij
  ansible.builtin.import_tasks: zellij.yml

- name: Install tldr
  ansible.builtin.import_tasks: tldr.yml

- name: Install zellij
  ansible.builtin.import_tasks: zellij.yml

- name: Install zoxide
  ansible.builtin.import_tasks: zoxide.yml

- name: Install and set zsh as default shell
  ansible.builtin.import_tasks: zsh.yml

