---
- name: Install prettyping in Ubuntu
  become: true
  ansible.builtin.apt:
    name:
      - prettyping
    state: present
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install prettyping in Arch Linux
  become: true
  community.general.pacman:
    name: prettyping
    state: present
  when: ansible_facts["distribution"] == "Archlinux"
