---
- name: Install Zellij in Ubuntu
  community.general.cargo:
    name: zellij
    locked: true
    executable: "{{ cargo_path }}"
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install Zellij in Arch Linux
  become: true
  community.general.pacman:
    name: zellij
    state: present
  when: ansible_facts["distribution"] == "Archlinux"
