---
- name: Check if zoxide is installed
  ansible.builtin.shell: command -v zoxide
  register: zoxide_exists
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install zoxide in Ubuntu
  when: ansible_facts["distribution"] == "Ubuntu" and zoxide_exists.rc != 0
  block:
    - name: Get latest zoxide release URL
      ansible.builtin.shell: |
        curl -s https://api.github.com/repos/ajeetdsouza/zoxide/releases/latest | \
        grep "browser_download_url.*x86_64-unknown-linux-musl.tar.gz" | \
        cut -d '"' -f 4
      register: zoxide_url
      changed_when: false

    - name: Download and install zoxide
      become: true
      ansible.builtin.unarchive:
        src: "{{ zoxide_url.stdout }}"
        dest: "{{ ansible_facts.env.HOME }}/.local/bin"
        remote_src: true
        extra_opts:
          - "zoxide"

- name: Install zoxide in Arch Linux
  become: true
  community.general.pacman:
    name: zoxide
    state: present
  when: ansible_facts["distribution"] == "Archlinux" and zoxide_exists.rc != 0

