---
- name: Install zsh in Ubuntu
  become: true
  ansible.builtin.apt:
    name:
      - zsh
    state: present
  when: ansible_facts["distribution"] == "Ubuntu"

- name: Install zsh in Arch Linux
  become: true
  community.general.pacman:
    name:
      - zsh
    state: present
  when: ansible_facts["distribution"] == "Archlinux"

- name: Change user shell to zsh
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts.user_id }}"
    shell: /bin/zsh
  when: ansible_facts["distribution"] == "Ubuntu" or ansible_facts["distribution"] == "Archlinux"

